@model int

@{
ViewBag.Title = "Checkout Complete"; }
<h2>Checkout Complete</h2>
<p>Thanks You! Your Download id is: @Model</p>
<p>How about downloading some more stuff in our @Html.ActionLink("Platform", "Index", "Home")
</p>
