@model LearningPlatform.ViewModels.DownloadCartViewModel
@{
    ViewBag.Title = "Download Cart";
}
<script src="/Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Perform the ajax post
                $.post("/DownloadCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

    });


    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

        // Update the page elements
        if (data.ItemCount == 0) {
            $('#row-' + data.DeleteId).fadeOut('slow');
        } else {
            $('#item-count-' + data.DeleteId).text(data.ItemCount);
        }

        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart (' + data.CartCount + ')');
    }
</script>
<h3>
    <em>Review</em> your cart:
</h3>
<p>
    <button class="btn btn-primary">
        @Html.ActionLink("Checkout >>", "DownloadProcess", "Checkout")
    </button>
</p>
<div id="update-message">
</div>
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Chapter Name
                </th>
                <th>
                    Course
                </th>
                <th>
                </th>
                <th style="width: 100px;">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.CartItems)
                {
                <tr id="row-@item.RecordId">
                    <td>
                        @Html.ActionLink(item.Chapter.ChapterTitle, "Details", "Platform", new { id = item.ChapterId }, null)
                    </td>
                    <td>
                        @item.Chapter.Course.CourseName
                    </td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
</div> 