@{
    ViewBag.Title = "Member Login";
}

<h2>Log On as :</h2>

<ul>

       <li><a href="@Url.Content("~/PlatformManager/")">Administrator</a></li>
       <li><a href="@Url.Content("~/InstructorArea/")">Instructor</a></li>
       <li><a href="@Url.Content("~/Platform/")">Student</a></li> 
</ul>
