@{
    ViewBag.Title = "Instructor Area";
}
<h2>
    Instructor Area</h2>
<ul>
    <li>@Html.ActionLink("Manage Your Courses", "ManageCourses") </li>
    <li>@Html.ActionLink("Your Instructor's Profile", "Profile") </li>
</ul>

@ViewBag.User