@model LearningPlatform.Models.Chapter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>
<p>Are you sure you want to delete the chapter titled <strong>@Model.ChapterTitle</strong>?
</p>
@using (Html.BeginForm()) {
<p>
<input type="submit" value="Delete" />
</p>
<p> @Html.ActionLink("Back to List", "Index")
</p>
}
