@{
    ViewBag.Title = "Student Area";
}
<h2>
    DashBoard</h2>
<ul>
    <li>@Html.ActionLink("Your Courses", "Courses") </li>
    <li>@Html.ActionLink("Your Student Profile", "Profile") </li>
</ul>

